## The Sparks Foundation - Data Science & Business Analytics Internship

### Task 2 - Prediction using Unsepervised ML

This model uses K-Means Clustering to predict the optimum number of clusters from the 'Iris' dataset.

## Steps:

1. Defining the question
2. Importing data
3. Analyzing Data
4. Visualizing Data
5. Elbow Method for Optimum Clusters
5. Build and Training Model

### Defining the Question

The very first step of any data science problem is to figure out a well defined question. This model focuses on finding the optimum number of clusters from the 'Iris' dataset. In this case, the question is:

What would be the optimum number of clusters for the given 'Iris' dataset?

### Importing Data

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [7]:
iris = pd.read_csv('Iris.csv', index_col='Id')
iris.head() # See the first 5 rows

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa